.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-text {
  margin-left: 50px; 
  margin-top: 30px;  
}

body {
  font-family: 'Roboto', sans-serif; 
}

.btn-primary {
  background-color: #6f42c1; /* Cor roxa */
  border-color: #6f42c1; /* Borda roxa */
}

.btn-primary:hover {
  background-color: #5a34a0; /* Cor mais escura ao passar o mouse */
  border-color: #5a34a0; /* Borda mais escura ao passar o mouse */
}

.navbar-nav {
  margin-left: 20px; 
}

.navbar-brand {
  margin-right: 30px; 
}

.nav-link {
  margin-right: 15px; 
}

.about-section {
  margin-left: 20px; 
  margin-top: 20px;  
}

.about-title {
  margin-bottom: 10px; 
}
